@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientShift {
  0% {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: translateX(50%) translateY(50%) rotate(180deg);
    opacity: 0.1;
  }
}